# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~
*.ideas

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# private settings
local_private.py
